<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="../static/styles/milligram.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div class="container">

        <br>
        <div>
            <ul >
                <li  style="display: inline; padding-right: 18px;"><a href="/">Liam Breen</a></li>
                <li  style="display: inline; padding-right: 18px;"><a href="/projects">Projects</a></li>
                <li  style="display: inline; padding-right: 18px;"><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <br>
        <br>



        <div class="row">
            <!-- style="width: 550px;" -->
            <div class="column"></div>
            <div class="column column-67">
                <h2>Contact Form</h2>
                <br>
                <form action="{{ url_for('contact') }}" method="post">
                    <fieldset>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                        <label for="email">Email address</label>
                        <input  type="email" id="email" name="email" required>
                        <label for="subject">Subject</label>
                        <input  type="text" id="subject" name="subject" required>
                        <label for="message">Message</label>
                        <textarea  id=message" name="message" rows="4" cols="50" required></textarea>
                        <br>
                        <input type="submit" value="Submit" class=".button-black">
                    </fieldset>
                </form>
            </div>
            <div class="column"></div>


        </div>

    </div>
</body>
</html>