<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="../static/styles/milligram.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">

        <br>
        <div>
            <ul >
                <li  style="display: inline; padding-right: 18px;"><a href="/">Liam Breen</a></li>
                <li  style="display: inline; padding-right: 18px;"><a href="/projects">Projects</a></li>
                <li  style="display: inline; padding-right: 18px;"><a href="/contact">Contact</a></li>
            </ul>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="column"></div>
            <div class="column column-67">
                <h1>Liam Breen</h1>
                <!-- <br> -->
                <h3>Self-taught software developer living and working in Melbourne, Australia.</h3>
                <br>
                <br>
                <br>
                <h2>My Work</h2>
                <p>Working experience with Python, SQL, JavaScript, and XML then Leetcode experience with everything else.</p>
                <p>PLACEHOLDER</p>
            </div>
            <div class="column"></div>
        </div>

    </div>
</body>
</html>