<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="../static/styles/milligram.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div class="container">
        <br>
        <div>
            <ul >
                <li  style="display: inline; padding-right: 18px;"><a href="/">Liam Breen</a></li>
                <li  style="display: inline; padding-right: 18px;"><a href="/projects">Projects</a></li>
                <li  style="display: inline; padding-right: 18px;"><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <br>
        <br>
    </div>
</body>
</html>